* {
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'Montserrat', serif;
}


body{
    margin: 0;
    padding: 0;
}

header{
    background-color: #F4E3C1;
    margin: 0%;
    padding: 0%;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
header h1 {
    color: #333609;
    padding-bottom: 0%;
    margin-bottom: 0;
    font-family: 'Playfair Display', serif;
}


#page-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 0%;
    margin-bottom: 0%;
    /* max-width: 50%; */
}

#page-info img{
    display: flex;
    width: 20%;
    height: 30%;
    border-radius: 20px;
}


#nav-button{
    display: flex;
    position: relative;
    align-content: end;
    font-size: 1.5rem;
    background: linear-gradient(to right, #E1B12C, #C99B2D);
    color: white;
    padding: 15px 15px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}
#nav-button::before{
    content: "☰";
    position: relative;
}

#nav-button.open::before{
    content: "X";
}

.navigator{
    display: none;
}

.navigator.open{
    display: block;
    align-items: center;
    justify-content: center;
    padding: 0%;
    margin: 0%;
}

.navigator ul{
    padding: 0%;
}
.navigator  a{
    align-items: center;
    display: flex;
    list-style-type: none;
    justify-content: center;
    font-size: 1.3rem;
    padding: 0.3rem;
    cursor: pointer;
    color: #703f04;
    font-weight: bold;
    text-decoration: none;
}

main{
    align-items: center;
    justify-content: center;

}
.welcome{
    display: flex;
    justify-content: end;
    color: #765733;
    font-weight: bold;
    padding: 1.5rem 0 0.5rem 0;
}
.card{
    background-color: #F4E3C1;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    display: grid;
    grid-template-areas: 
    "name"
    "photo"
    "description"
    "adress";
}
.card h2{
    justify-content: center;
    align-items: center;
    grid-area: name;
}
.card img{
    display: grid;
    grid-area: photo;
}
.card #desc{
    grid-area: description;
    margin-top: 0.2rem;
}
.card #adress{
    grid-area: adress;
    margin-top: 0.2rem;
}

footer{
    margin: 0;
    padding: 1rem;
    max-width: 100%;
    overflow: hidden;
    display: block;
    align-items: center;
    justify-content: space-evenly;
    background-color: #405d6eab;
}

#chamber-info p{
    padding: 0%;
    margin: 0.5rem;
}

#icons{
    display: flex;
}

#icons img{
    max-width: 100px;
    max-height: 100PX;
    clip-path: inset(10%);
}

#class-info p{
    padding: 0%;
    margin: 0.5rem;
}
