@media screen and (min-width: 641px) {
    #nav-button{
        display: none;
    }
    .navigator{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1rem 0 0.5rem 0;        
    }
    .navigator a{
        color: #261909;
    }
    .welcome{
        padding: 2rem;
    }
    .card{
    grid-template-areas: 
    "photo name"
    "photo description"
    "button adress";
    }

    .card img{
        width: 200px;
        margin-right: 2rem;
    }
    .card button{
        grid-area: button;
        color: #162832ab;
        background-color: rgb(227, 231, 189);
        /* border: 0; */
        border-radius: 15px;
        font-weight: 800;
        padding: 0.5rem;
        width: 70%;
    }
    footer{
        display: flex;
    }
}