@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'Montserrat', serif;
}


body{
    margin: 0;
    padding: 0;
}

header{
    background-color: #F4E3C1;

    margin: 0%;
    padding: 0%;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

header h1{
    color: #C99B2D;
    padding-bottom: 0%;
    margin-bottom: 0;
    font-family: 'Playfair Display', serif;}
#page-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 0%;
    margin-bottom: 0%;
    /* max-width: 50%; */
}

#page-info img{
    display: flex;
    width: 20%;
    height: 30%;
    border-radius: 20px;
}


#nav-button{
    display: flex;
    position: relative;
    align-content: end;
    font-size: 1.5rem;
    background: linear-gradient(to right, #E1B12C, #C99B2D);
    color: white;
    padding: 15px 15px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}
#nav-button::before{
    content: "☰";
    position: relative;
}

#nav-button.open::before{
    content: "X";
}

.navigator{
    display: none;
}

.navigator.open{
    display: block;
    align-items: center;
    justify-content: center;
    padding: 0%;
    margin: 0%;
}

.navigator ul{
    padding: 0%;
}
.navigator  a{
    align-items: center;
    display: flex;
    list-style-type: none;
    justify-content: center;
    font-size: 1.3rem;
    padding: 0.3rem;
    cursor: pointer;
    color: #B07C3E;
    font-weight: bold;
    text-decoration: none;
}

main{
    align-items: center;
    justify-content: center;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
    height: 20vh;
    display: contents;
}
.cta-message{
    display: none;
}

.hero {
    height: 100vh; /* Toda la pantalla */
    /* background-image: url('images/hero-small.jpg'); */
    background-size: cover; /* La imagen cubre toda la sección */
    background-position: center;
    background-repeat: no-repeat;
}
.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    background: rgba(0, 0, 0, 0.6); /* Fondo oscuro para mejorar legibilidad */
    padding: 10px;
    border-radius: 10px;
    max-width: 600px;
}

.cta-button {
    display: inline-block;
    background: #ff9800;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    text-decoration: none;
    /* margin-top: 5px; */
    transition: background 0.3s ease-in-out;
}

.cta-button:hover {
    background: #e68900;
}


picture img {
    width: 100%;
    height: 50vh; /* La imagen ocupa toda la sección */
    object-fit: cover; /* Ajusta sin distorsión */
}

#filters{
    display:flex;
    justify-content: center;
    align-items: center;
}
#btnGrid, #btnList{
    font-size: 1.5rem;
    background: linear-gradient(to right, #E1B12C, #C99B2D);
    color: white;
    padding: 15px 15px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin: 0.5rem;
}
.grid-view .item{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-direction: column;
    box-shadow: 2px 2px 10px 1px #B07C3E;
    margin-bottom: 0.5rem;
}
.item p{
    display: flex;
    margin: 0.2rem;
}

.item img{
    max-width: 50%;
    height: auto;
}

footer{
    margin: 0;
    padding: 1rem;
    max-width: 100%;
    overflow: hidden;
    display: block;
    align-items: center;
    justify-content: space-evenly;
    background-color: #405d6eab;
}

#chamber-info p{
    padding: 0%;
    margin: 0.5rem;
}

#icons{
    display: flex;
}

#icons img{
    max-width: 100px;
    max-height: 100PX;
    clip-path: inset(10%);
}

#class-info p{
    padding: 0%;
    margin: 0.5rem;
}
