@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'Montserrat', serif;
}


body{
    margin: 0;
    padding: 0;
}

header{
    background-color: #F4E3C1;

    margin: 0%;
    padding: 0%;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

header h1{
    color: #333609;
    padding-bottom: 0%;
    margin-bottom: 0;
    font-family: 'Playfair Display', serif;}
#page-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 0%;
    margin-bottom: 0%;
    /* max-width: 50%; */
}

#page-info img{
    display: flex;
    width: 20%;
    height: 30%;
    border-radius: 20px;
}


#navigation-button{
    display: flex;
    position: relative;
    align-content: end;
    font-size: 1.5rem;
    background: linear-gradient(to right, #E1B12C, #C99B2D);
    color: white;
    padding: 15px 15px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}
#navigation-button::before{
    content: "☰";
    position: relative;
}

#navigation-button.open::before{
    content: "X";
}

.navigator{
    display: none;
}

.navigator.open{
    display: block;
    align-items: center;
    justify-content: center;
    padding: 0%;
    margin: 0%;
}

.navigator ul{
    padding: 0%;
}
.navigator  a{
    align-items: center;
    display: flex;
    list-style-type: none;
    justify-content: center;
    font-size: 1.3rem;
    padding: 0.3rem;
    cursor: pointer;
    color: #261909
    font-weight: bold;
    text-decoration: none;
}

main{
    align-items: center;
    justify-content: center;
}


.hero{
position:relative;
/* background-color: aqua; */
height: 25rem;
background-image: url('/chamber/images/hero-small.jpg');
background-size: cover; 
background-position: center;
background-repeat: no-repeat; 
}
.hero > .hero-content {
    position: absolute;
    display: flex;
    color: aliceblue;
    flex-direction: column;
    align-items: end ;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -10%);
    background: rgba(0, 0, 0, 0.4); 
    padding: 10px;
    border-radius: 10px;
    max-width: 600px;
}
.cta-message{
    display: none;
}
h1{
    text-align: center;
} 
.cta-button {
    display: inline-block;
    width: fit-content;
    background: #261909;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 5px;
    transition: background 0.3s ease-in-out;
}

.cta-button:hover {
    background: #e68900;
}


picture img {
    width: 100%;
    height: 50vh; /* La imagen ocupa toda la sección */
    object-fit: cover; /* Ajusta sin distorsión */
}

#filters{
    display:flex;
    justify-content: center;
    align-items: center;
}
#btnGrid, #btnList{
    font-size: 1.5rem;
    background: linear-gradient(to right, #E1B12C, #C99B2D);
    color: white;
    padding: 15px 15px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin: 0.5rem;
}


/* .item p{
    display: flex;
    margin: 0.2rem;
}

.item img{
    max-width: 50%;
    height: auto;
} */
.events, 
.current-weather,
.weather-forecast{
    display: block;
}

.events h1, 
.current-weather h1,
.weather-forecast h1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #405d6eab;
    color: #ffffff;
}

.events-cards {
    border: solid 1px #e68900;
    border-radius: 20px;
    margin: 0.5rem;
    padding: 0.3rem;
}

.current-weather{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#img-current{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width:10rem;
}
#info-current {
    display: block;
    margin: 1rem;
}

.info-forecast{
    margin: 1rem;
    padding-bottom: 2rem;
}
.container-cards{
    display: flex;
    flex-direction: column;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: solid 1px #e68900;
    border-radius: 20px;
    margin: 0.5rem;
    padding: 0.3rem;
}

.card p{
    margin: 0.4rem;
}

footer{
    margin: 0;
    padding: 1rem;
    max-width: 100%;
    overflow: hidden;
    display: block;
    align-items: center;
    justify-content: space-evenly;
    background-color: #405d6eab;
}

#chamber-info p{
    padding: 0%;
    margin: 0.5rem;
}

#icons{
    display: flex;
}

#icons img{
    max-width: 100px;
    max-height: 100PX;
    clip-path: inset(10%);
}

#class-info p{
    padding: 0%;
    margin: 0.5rem;
}
