@media screen and (min-width: 650px) {
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 4rem 1fr;
    }

    #navigation-button{
        display: none;
    }

    .navigator{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 1rem;
    }

    .form{
        width: 100%;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .form input{
        max-width: 95%;
        margin: 0.2rem;
    }
    .membership-cards{
        grid-area: 2/2/3/3;
        width: 100%;
    }
    footer{
        display: flex;         
    }
    
}