@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'Montserrat', serif;
}


body{
    margin: 0;
    padding: 0;
}

header{
    background-color: #F4E3C1;

    margin: 0%;
    padding: 0%;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

header h1{
    color: #333609;
    padding-bottom: 0%;
    margin-bottom: 0;
    font-family: 'Playfair Display', serif;
}

#page-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

#page-info img{
    display: flex;
    width: 20%;
    height: 30%;
    border-radius: 20px;
}


#navigation-button{
    display: flex;
    position: relative;
    align-content: end;
    font-size: 1.5rem;
    background: linear-gradient(to right, #E1B12C, #C99B2D);
    color: white;
    padding: 15px 15px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}
#navigation-button::before{
    content: "☰";
    position: relative;
}

#navigation-button.open::before{
    content: "X";
}

.navigator{
    display: none;
}

.navigator.open{
    display: block;
    align-items: center;
    justify-content: center;
    padding: 0%;
    margin: 0%;
}

.navigator ul{
    padding: 0%;
}

.navigator  a{
    align-items: center;
    display: flex;
    list-style-type: none;
    justify-content: center;
    font-size: 1.3rem;
    padding: 0.3rem;
    cursor: pointer;
    color: #261909;
    text-decoration: none;
}

main{
    align-items: center;
    justify-content: center;
}
main> h1{
    display: flex;
    padding: 1rem 0 0rem 2rem;
    margin: 0;
}

main h2{
    color: #333609;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    font-size: 1.2rem;
    padding: 0.5rem 0 2rem 2rem;
    align-items: start;
}

.contact-info label{
    display: flex;
    flex-direction: column;
    padding: 0.1rem 0rem 1.5rem 0rem;
    color: #333609;
    width: 70%;
}
legend{
    color: #333609;
}

fieldset{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
    padding: 0rem;
    border: 0px;
}
fieldset label{
    display: flex;
    padding: 0;
    margin: 0;
}

#submit{
    display: flex;
    margin-top: 1rem;
    padding: 0.5rem;
    width: 70%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, #a56551, #69855f, #615245);
    background-size: 400% 400%;
    animation: gradientShift 4s ease infinite;
    border: 0;
    border-radius: 20px;
    color: white;
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.membership-cards{
    display: flex;
    flex-direction: column;
    /* padding-left: 2rem; */
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #c99a2d94;
    color: black;
    border-radius: 20px 0;
    animation: slideInBounce 1.2s ease-out;
}

.card h3{
    padding-top: 1rem;
    margin: 0 0 0.2rem 0;
}
.card a{
    text-decoration: none;
    color: #333609;
    border: 0;
    background-color: #C99B2D;
    margin: 0.2rem;
    padding: 0.2rem;
    border-radius: 10px;
}
@keyframes slideInBounce {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    60% {
        transform: translateX(20px);
        opacity: 1;
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

footer{
    margin: 0;
    padding: 1rem;
    max-width: 100%;
    overflow: hidden;
    /* display: block; */
    align-items: center;
    justify-content: space-evenly;
    background-color: #405d6eab;
}

#chamber-info p{
    padding: 0%;
    margin: 0.5rem;
}

#icons{
    display: flex;
}

#icons img{
    max-width: 100px;
    max-height: 100PX;
    clip-path: inset(10%);
}

#class-info p{
    padding: 0%;
    margin: 0.5rem;
}
