:root {
    /* COLORS */
    --color-primary: #6b8e5a;
    --color-secondary: #a3f3b7;
    --color-accent: #faf8f5;
    --color-text: #333333;
    /* --color-white: #ffffff;
    --color-black: #000000; */
    
    /* TYPO */
    --font-normal: "Inter", sans-serif;
    --font-heading: 'Playfair Display', serif;
    --font-size-base: 16px;
    --font-size-large: 24px;
    --font-size-small: 14px;
    
    /* TRANSITIONS */
    --transition-fast: 0.2s ease;
    --transition-slow: 0.4s ease;
}
*{
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}
header{
    display: block;
    width: 100%;
    background-color: var(--color-accent);
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar h1{
    font-family: "Playfair Display", serif;
    color: var(--color-primary);
    margin-bottom: 0;

}
.nav-bar img{
    width: 20%;
    max-height: 8rem;
    padding: 1rem;
    border-radius: 50%;
}

#ham-button{
    width: 1rem;
    display: flex;
    position: relative;
    font-size: 1.5rem;
    background: var(--color-primary);
    color: white;
    padding: 15px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer; 
}
#ham-button::before{
    content: "☰";
    position: relative;
    right: 10px;

}

#ham-button.open::before{
    content: "X";
}

.navigator{
    display: none;
}

.navigator.open{
    display: block;
    padding: 0.5rem 0;
    align-items: center;
    justify-content: center;
    padding: 0%;
    margin: 0%;
    width: 100%;
}

.navigator ul{
    padding: 0%;
}

.navigator  a{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    padding: 0.4rem 0 ;
    cursor: pointer;
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 800;
}


/* MAIN */
main section:not(:first-child){
    width: 90%;
    padding: 0.5rem 5%;
    font-family: var(--font-normal);
}


.hero{
    position: relative;
    height: 15rem;
    background-image: url('https://github.com/educalle23/wdd231/blob/main/chamber/images/hero-small.jpg?raw=true');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    justify-content: center;
    align-items: center
}
.hero-content{
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    text-align: center;
    font-family: var(--font-normal);
}

.services-card{
    background-color: var(--color-secondary);
    border-radius: 1rem;
    margin: 0.5rem 0;
    padding: 0.2rem 2.5%;
    width: 95%;
}

.services-card h3{
    font-family: var(--font-heading);
    color: #2b5247;
}
.services-card a{
    text-decoration: dotted;
    font-weight: 800;
    color: #181e15;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
form input:not(#submit){
    width: 95%;
    /* margin-bottom: 1rem; */
    border: var(--color-primary) 1px solid;
    border-radius: 5px;
}
form label{
    color: var(--color-primary);
    font-size: medium;
}

#submit{
    background-color: #2b5247;
    color: #1ed6a2;
    border: 0;
    border-radius: 1rem;
    padding: 5px 0;
    /* margin-top: 1rem; */
}






/* FOOTER */

footer{
    display: block;
    font-family: var(--font-normal);
    padding: 1rem 0 2rem;
    background-color: var(--color-accent);
    width: 90%;
    padding: 5%;
}

footer img{
    max-width: 8rem;
    max-height: 8rem;
    border-radius: 50%;
}

.info{
    display: block;
}

.social-media{
    display: inline-flex;
    gap: 15px;
    width: 100%;
    margin-bottom: 1rem;
}

.social-media a{
    color: var(--color-primary);
    font-size: 2rem;
}

.services h2, .booking h2{
    margin-bottom: 0;
    font-family: var(--font-heading);
}

footer .services{
    margin: 1rem 0;
    border-top: 1px solid var(--color-secondary);
    border-bottom:1px solid var(--color-secondary);
}
.services a{
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    font-family: var(--font-normal);
    margin-bottom: 1rem;
}

.book-but{
    padding: 0.5rem 0;
    margin-top: 0.5rem;
    color: var(--color-secondary);
    background-color: #181e15;
    border: none;
    border-radius: 1rem;
    background: linear-gradient(45deg, #8fc067, #31743a, #35c240,#3a7f81);
    font-weight: 600;
    cursor: pointer;
    animation: gradient-shift 3s ease infinite;
    transition: transform 0.3s ease;
    background-size: 400% 400%;
    font-family: var(--font-heading);
}

.book-but:hover {
    transform: scale(1.1);
    animation-duration: 1.5s;
}

@keyframes gradient-shift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


